<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipment_cell_extra_height</key>
	<integer>20</integer>
	<key>search_preference_sticky_duration_in_seconds</key>
	<integer>43200</integer>
</dict>
</plist>
