<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipment_cell_extra_height</key>
	<integer>20</integer>
	<key>search_preference_sticky_duration_in_seconds</key>
	<integer>43200</integer>
	<key>hours_cell_extra_height</key>
	<integer>0</integer>
	<key>space_details_location_spacing</key>
	<integer>10</integer>
	<key>map_view_offscreen_space_padding</key>
	<real>1.2</real>
	<key>space_details_reservations_right_padding</key>
	<integer>4</integer>
	<key>default_nav_button_color_red</key>
	<integer>132</integer>
	<key>default_nav_button_color_green</key>
	<real>123</real>
	<key>default_nav_button_color_blue</key>
	<integer>170</integer>
	<key>nav_cancel_button_color_red</key>
	<integer>45</integer>
	<key>nav_cancel_button_color_green</key>
	<integer>33</integer>
	<key>nav_cancel_button_color_blue</key>
	<integer>42</integer>
	<key>reservation_notes_wrapper_format</key>
	<string>&lt;html&gt;&lt;style&gt;body { background: #f7f7f7; font-family: helvetica; font-size: 14px; } a, a:active, a:visited { color: #847baa; }&lt;/style&gt;&lt;body&gt;&lt;div&gt;%@&lt;/div&gt;&lt;/body&gt;&lt;/html&gt;</string>
	<key>space_details_no_image_name_cell_baseline</key>
	<integer>120</integer>
	<key>filter_row_selected_red</key>
	<integer>235</integer>
	<key>filter_row_selected_green</key>
	<integer>235</integer>
	<key>filter_row_selected_blue</key>
	<integer>235</integer>
	<key>filter_row_unselected_red</key>
	<integer>247</integer>
	<key>filter_row_unselected_green</key>
	<integer>247</integer>
	<key>filter_row_unselected_blue</key>
	<integer>247</integer>
</dict>
</plist>
